<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>{{page_title}}</title>
    <meta name="description" content="{{page_description}}"
    />
    <meta name="author" content="{{page_author}}" />
    <meta
      name="copyright"
      content="{{page_copyright}}"
    />
    <link rel="stylesheet" href="styles/main.css" />
</head>
